body {
    font-family: Tahoma;;
    font-size: 11pt;
    
}
th{
    font-size: 13px;
    background: red;
    color: #ffffff;
    
}
table{
    border: 1px solid #cd5c5c;
    border-collapse: collapse;
      
    
    background: url(images/bgbottom_green.jpg) repeat-x left bottom;

    
}
td{
    padding: 5px;

}
input{
    padding: 5px;
    width: 280px;
}
button{
    background: #af1e1e;
    border: 2px solid #023e9786;
    size: 20px;

}
