body {
    font-family: Tahoma;;
    font-size: 11pt;
}

th{
    padding: 5px;
    font-size: 13pt;
}
table{
    border-collapse: collapse;

}
td{
    padding: 5px;
}
input {
    padding: 5px;
    width: 250px;
    border: 1px dotted #dc143c;
    background:#b9dfd6 ;

}
button{
    padding: 5px 10px;
    background: #27ac6e;
    border: 2px solid #023e9786;
    border-radius: 5px;

}